<style>
body {
	background-color: white;
}
.a {
	text-decoration: none;
	background-color: #2C82C9;
	color: white;
	border-radius: 2px;
	padding-left: 5px;
	padding-right: 5px;
}
.a:hover {
	background-color: #005ce6;
}
select,input[type=text],input[type=password],input[type=email] {
	border: 2px inset #0066ff;
	width: 300px;
	margin-bottom: 3px;
	border-radius: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 5px;
}
select:hover,input[type=text]:hover,input[type=password]:hover,input[type=email]:hover {
	border-color: #005ce6;
	box-shadow: 1px 1px 1px 0 rgba(0, 102, 255, 0.2);
	background-color: #f2f2f2;
}
#header {
	width: 90%;
	border-radius: 10px;
	background-color: white;
	height: auto;
	float: center;
	border: 5px double black;
	border-bottom: none;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropbtn {
    background-color: black;
	width: 150px;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #333333;
}
#head {
	width: 100%;
	background-color: black;
	height: auto;
}
#i {
	float: center;
	margin-bottom: 20px;
	margin-top: 10px;
}
.btn {
    background-color: #2C82C9;
	width: 150px;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
	text-decoration: none;
}
.btn:hover {
	background-color: #0052cc;
}
#isi {
	width: 86%;
	background-color: white;
	height: auto;
	float: center;
	border: 5px inset #000066;
	border-top: none;
	padding-top: 20px;
	padding-bottom: 100px;
	padding-left: 2%;
	padding-right: 2%;
	border-radius: 10px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#isi3 {
	width: 35%;
	background-color: white;
	border: none;
	padding-top: 10px;
	padding-bottom: 40px;
	padding-left: 2%;
	border-radius: 10px;
	}
#isi2 {
	width: 90%;
	background-color: white;
	height: auto;
	float: center;
	border: 5px inset #000066;
	border-top: none;
	padding-top: 20px;
	padding-bottom: 100px;
	padding-left: 2%;
	padding-right: 2%;
	border-radius: 10px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.table {
	font-size: 15px;
	width:90%;
	border-collapse: collapse;
	border: none;
	border-bottom: 2px solid black;
}
.table1 {
	font-size: 15px;
	border-collapse: collapse;
	width:100%;
	border: none;
	border-bottom: 2px solid black;
}
.table2 {
	font-size: 25px;
	border-collapse: collapse;
	width:100%;
	border: none;
	border-bottom: 2px solid black;
}
td{
	text-align : center;
}
th {
	background-color: #2C82C9;
	color: white;
	border: none;
	padding: 10px;
}
.th {
	background-color: Black;
	color: white;
	border: 1px solid white;
	font-size: 10px;
	padding: 10px;
}

tr:nth-child(even){background-color: #f1f1f1}

input[type=submit],input[type=reset],input[type=button] {
	padding: 10px;
	background-color: #2C82C9;
	border: none;
	border-radius: 5px;
	color: white;
	font-size: 15px;
}
input[type=submit]:hover, input[type=reset]:hover,input[type=button]:hover {
	background-color: #005ce6;
}
td {
	padding-left: 5px;
}

</style>
